.even {
  background-color: black;
  color: #f2f2f2;
}

.odd {
  background-color: black;
  color: #f2f2f2;
  width: 100%;
}

.favourites {
  border-style: solid;
  border-width: 0.15rem;
  position: relative;
  float: left;
  margin-top: 1rem;
  margin-left: 1rem;
  border-color: slategray;
  text-align: center;
  width: 100%;
}

td,
th {
  border-style: solid;
  border-width: 0.15rem;
  padding: 10px;
  border-color: slategray;
  border-collapse: collapse;
}

tbody tr:hover {
  background-color: #333333;
  color: red;
}

#favouritesList {
  border-collapse: collapse;
  width: 100%;
}

.favAddress {
  color: white;
  text-decoration: none;
}

.favAddress:hover {
  color: rgb(255, 130, 130);
  text-decoration: none;
}
