.create {
  background-color: #f41351;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  /* float: right; */
  position: absolute;
  right: 345px;
  top: 50;
}

.create:hover {
  background-color: rgb(255, 130, 130);
}

.CreatePost {
  background-color: rgb(223, 223, 223);
  z-index: 999;
}

.box {
  margin: 2em auto 0 auto;
  background-color: whitesmoke;
  border-radius: 4px;
  width: 50%;
  padding: 0.5em;
  box-shadow: 0 0 0 1pt darkgrey;
}

.button {
  background-color: #f41351;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: rgb(255, 130, 130);
}

.titlebox {
  width: 100%;
  background-color: white;
  padding: 14px 20px;
  /* font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; */
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1pt darkgrey;
}

.titlebox[type=text]:focus {
  width: 100%;
  background-color: white;
  padding: 14px 20px;
  /* font-family: Arial, Helvetica, sans-serif;
  font-size: 12px; */
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1pt rgb(255, 130, 130);
}

.textbox {
  width: 100%;
  background-color: white;
  padding: 14px 20px;
  /* font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; */
  height: 150px;
  resize: vertical;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1pt darkgrey;
}

.textbox[type=text]:focus {
  width: 100%;
  background-color: white;
  padding: 14px 20px;
  /* font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; */
  height: 150px;
  resize: vertical;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 0 1pt rgb(255, 130, 130);
}