.Posting{
    background: rgb(145,4,4);
    background: radial-gradient(circle, rgba(145,4,4,1) 0%, rgba(0,0,0,1) 100%);
    color: white;
    margin: auto;
    border: 5px solid silver;
    padding: 1em;
    width: 50%;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.poster{
    color: #e6b800;
    font-style: italic;
    padding-top: 5px;
    padding-bottom: 5px;
}
.postTitle{
    color: white;
}